fastapi
uvicorn[standard]
requests
urllib3
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
pydantic
pydantic-settings
python-dotenv
apscheduler
chromadb
sentence-transformers
tf-keras
pypdf
feedparser
schedule
reportlab
google-genai
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
python-multipart
redis
celery
slowapi